# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.venv/"venv/" 

# 가상환경 (경로에 상관없이 모두 무시)
**/venv/
**/.venv/

# 노드 패키지 및 빌드 결과물
**/node_modules/
**/.next/
**/out/
**/build/

# 환경 변수 및 로그
.env*
*.log